ol.templates {
  list-style-type: none;
}

.templates {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
}

.template {
  background-color: #333;
  border: 1px solid #dddddd;
  border-radius: 4px;
  padding: 20px;
  text-align: center;
}